.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 600px; Set your desired maximum width */
    width: auto;
    color: rgba(209, 0, 192, 0.877);
}

.terminal {
    width: 1100px;
    height: 600px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(22, 114, 235, 0.555)
}


/* Add media query for responsiveness */
@media (max-width: 1104px) {
    .terminal {
        height: 500px; /* Adjust height for smaller screens */
        width: 900px;
    }
}

@media (max-width: 908px) {
    .terminal {
        height: 400px; /* Adjust height for smaller screens */
        width: 800px; /* Adjust height for smaller screens */
    }
}

@media (max-width: 804px) {
    .terminal {
        height:400px; /* Adjust height for smaller screens */
        width: 700px; /* Adjust height for smaller screens */
    }
}

@media (max-width: 708px) {
    .terminal {
        height:400px; /* Adjust height for smaller screens */
        width: 650px; /* Adjust height for smaller screens */
    }
}

@media (max-width: 660px) {
    .terminal {
        height:400px; /* Adjust height for smaller screens */
        width: 550px; /* Adjust height for smaller screens */
    }
}

@media (max-width: 560px) {
    .terminal {
        height:400px; /* Adjust height for smaller screens */
        width: 400px; /* Adjust height for smaller screens */
    }
}

@media (max-width: 416px) {
    .terminal {
        height:400px; /* Adjust height for smaller screens */
        width: 300px; /* Adjust height for smaller screens */
    }
}

